@page { size: 8.5in 11.0in portrait }
html{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 14px;
}

body{
	 margin: 0;
	 padding: 0;
}

div{
	margin: 0;
	padding: 0;
}

.isi-berita{
    font-size: 18px;   
}

.bt{ border-top: 1px solid #000000; padding-top: 3px; }
.br{ border-right: 1px solid #000000; padding-right: 3px;}
.bb{ border-bottom: 1px solid #000000; padding-bottom: 3px;}
.bl{ border-left: 1px solid #000000; padding-left: 3px;}


